[submodule "deps/vector-edk"]
	path = deps/vector-edk
	url = https://github.com/hackedteam/vector-edk.git
[submodule "deps/ntfs-3g"]
	path = deps/ntfs-3g
	url = https://github.com/pbatard/ntfs-3g.git
[submodule "deps/UEFITool"]
	path = deps/UEFITool
	url = https://github.com/LongSoft/UEFITool.git
